.WorkoutEntryPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10vh;
}
.WorkoutEntryForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
