.Header {
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d0d0d;
  z-index: 1500;
}

.Header h1 {
  padding-left: 2vw;
}

.Header h1 a {
  text-decoration: none;
  font-size: 4vh;
}

.Header a {
  color: #ebeff2;
  font-size: 2vh;
}
.Header__not-logged-in {
  display: flex;
  flex-direction: column;
}

.Header__not-logged-in .Hyph {
  display: none;
}

.menu-items.hide {
  display: none;
}
.menu-items.show {
  margin-top: -2vh;
  position: fixed;
  z-index: 10;
  display: flex;
  line-height: 4rem;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  background-color: #011526;
  left: 0vw;
  right: -100vw;
  transition: 0.65s;
  color: #ebeff2;
  font-size: 1.5rem;
  padding: 1rem;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.menu-button {
  padding-right: 15px;
}
